{% extends 'base.html' %}
{% block content %}
<div class="row align-items-center justify-content-center vh-100">
    <div class="col-md-6 col-lg-5">
        <div class="card shadow-lg border-0 rounded-4">
            <div class="card-body p-5 text-center">
                <i class="bi bi-envelope-check text-primary mb-4" style="font-size: 4rem;"></i>
                <h2 class="fw-bold mb-4 text-dark">Confirma tu correo electrónico</h2>
                <p class="text-muted mb-4 fs-5">
                    Hemos enviado un enlace de confirmación a tu correo. Por favor, revisa tu bandeja de entrada y sigue el enlace para activar tu cuenta.
                </p>
                <a href="{% url 'signin' %}" class="btn btn-outline-primary btn-lg px-5 rounded-pill w-100">Volver a Inicio de Sesión</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
