{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="row">
    <div class="col-md-12 text-center">
        <img src="{% static 'images/logo_full.jpeg' %}" alt="Logo" style="height: 200px;">
    </div>
    <div class="col-md-12">
        <h1>Becas SNTSA</h1>
        <p>
            El FONABE se constituye con los recursos de la Secretaria de Salud y el Sindicato, conforme al monto establecido en el Artículo 116 de las Condiciones Generales de Trabajo vigentes, y se depositará de forma mancomunada en cuenta bancaria independiente, a nombre del Sindicato.
        </p>

        <p>
            La Comisión Nacional, tendrá la atribución para determinar el monto de cada una de las modalidades de beca, y el Sindicato hará llegar y comprobará el recurso económico del pago de la beca, mediante un instrumento de una institución bancaria, en una exhibición.
        </p>
    </div>

    <div class="col-md-12">
        <h2>¿Qué es una beca SNTSA?</h2>
        <p>
            Es la aportación económica que se asigna a la persona becaria por parte de la Secretaría de Salud y el Sindicato, con motivo de su aprovechamiento escolar, excelencia académica, o educación especial.Una beca es un apoyo económico que se otorga a los trabajadores y sus familias para que puedan continuar con sus estudios.
        </p>
    </div>

    <div class="col-md-12">
        <h2>¿Quiénes pueden solicitar una beca?</h2>
        <p>Los trabajadores y sus familias que cumplan con los requisitos establecidos en la convocatoria.</p>
        <p>
            Los procedimientos son aplicables para el otorgamiento de las Becas por Aprovechamiento Escolar, para las Becas de Excelencia Académica y para las Becas de Educación Especial; que se autoricen para el personal activo (o para uno de sus hijos o hijas) y que para el caso de las primeras, cursen o se encuentren cursando la educación escolar básica (Primaria), la media básica (Secundaria), la media superior (Bachillerato); para el caso de las Becas de Excelencia Académica que cursen o se encuentren cursando la de Técnico Superior Universitario (TSU), la educación superior (Licenciaturas) o algún posgrado (Especialidad, Maestría o Doctorado), así como para las denominadas de “Educación Especial” y que cursen o reciban algún tipo de educación (Según sea el caso), impartida por alguna institución de educación especializada por motivo de su discapacidad.
        </p>
        <p>
            Tendrá derecho a participar en la asignación de la beca por aprovechamiento escolar, tanto el personal, así como una de sus hijas o hijos, pudiendo ser acumulativa solo con una beca de educación especial, en el caso de que la persona becaria sea el personal
        </p>
    </div>

    <div class="col-md-12">
        <h2>¿Cómo solicitar una beca?</h2>
        <p>Para solicitar una beca, los trabajadores y sus familias deben registrarse en el sistema y completar el formulario de solicitud de beca.</p>
</div>

{% endblock %}
