{% extends 'base.html' %}
{% load form_tags %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="p-4 bg-secondary text-white rounded">
            <h2 class="text-center">Registrar nuevo usuario</h2>

            {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endif %}

            <form action="{% url 'signup' %}" method="post" class="mt-4">
                {% csrf_token %}

                <!-- Sign Up form -->

                <div class="mb-1">
                    <label for="username" class="form-label">CURP del trabajador</label>
                    {{ form.username|add_class:"form-control" }}
                </div>

                <div class="mb-1">
                    <label for="password1" class="form-label">Contraseña</label>
                    {{ form.password1|add_class:"form-control" }}
                </div>

                <div class="mb-1">
                    <label for="password2" class="form-label">Confirmar contraseña</label>
                    {{ form.password2|add_class:"form-control" }}
                </div>

                <button type="submit" class="btn btn-primary">Registrarse</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}