{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Mis Solicitudes</h1>
    <table id="solicitudesTable" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Becario</th>
                <th>Tipo</th>
                <th>Fecha de registro</th>
                <th>Estado</th>
                <th>Notas</th>
            </tr>
        </thead>
        <tbody>
            {% for solicitud in solicitudes_aprovechamiento %}
            <tr>
                <td>{{ solicitud.becario }}</td>
                <td>Aprovechamiento</td>
                <td>{{ solicitud.fecha_solicitud }}</td>
                <td>{{ solicitud.get_estado_display }}</td>
                <td>{{ solicitud.notas }}</td>
            </tr>
            {% endfor %}
            {% for solicitud in solicitudes_excelencia %}
            <tr>
                <td>{{ solicitud.becario }}</td>
                <td>Excelencia</td>
                <td>{{ solicitud.fecha_solicitud }}</td>
                <td>{{ solicitud.get_estado_display }}</td>
                <td>{{ solicitud.notas }}</td>
            </tr>
            {% endfor %}
            {% for solicitud in solicitudes_especiales %}
            <tr>
                <td>{{ solicitud.becario }}</td>
                <td>Educación Especial</td>
                <td>{{ solicitud.fecha_solicitud }}</td>
                <td>{{ solicitud.get_estado_display }}</td>
                <td>{{ solicitud.notas }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function() {
        $('#solicitudesTable').DataTable();
    });
</script>
{% endblock %}
