<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Becas SNTSA</title>
</head>
<body>

    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Inicio</a></li>
            <li><a href="{% url 'becas' %}">Becas</a></li>
            <li><a href="{% url 'create_usuario' %}">Registrar becario o trabajador</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'signout' %}">Cerrar sesión</a></li>
            {% else %}
                <li><a href="{% url 'signin' %}">Iniciar sesión</a></li>
                <li><a href="{% url 'signup' %}">Registrarse</a></li>
            {% endif %}
        </ul>
    </nav>

    {% block content %}
    {% endblock %}

</body>
</html>