{% extends 'base.html' %}
{% load form_tags %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="p-4 bg-secondary text-white rounded">
            <h2 class="text-center">Iniciar sesión</h2>

            {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endif %}

            <form action="/signin/" method="post" class="mt-4">
                {% csrf_token %}

                <div class="mb-3">
                    <label for="username" class="form-label">Correo electrónico</label>
                    {{ form.username|add_class:"form-control" }}
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Contraseña</label>
                    {{ form.password|add_class:"form-control" }}
                </div>

                <button type="submit" class="btn btn-primary btn-block">Entrar</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}